h1 {
    font-size: 70px;
    font-family: Arial;
    color: black;
    background-color: whitesmoke;
    text-align: center;
    margin: 0px;
    }




body{

        background-color:whitesmoke;   
   }


.container-1{
    width: 95%;
    overflow: hidden;
    background: whitesmoke;
    margin: 20px auto;
    padding: 20px 0px;
    margin-top: 10px;

}

.container-1 ul{
padding: 0px;
margin: 0px;


}

.container-1 ul li{
    list-style: none;
    float: left;
    width: 20%;
    height: 300px;
    background-color: #f6fb58;
    margin: 40px 10px 0px 40px;
    box-sizing: border-box;
    border: 2px solid black;


}
.container-1 ul li:hover{
opacity: 0.9;
    
}
.container-1 ul li .title{
    width: 100%;
    font-family: arial;
    height: 50px;
    line-height: 50px;
    background-color:  #f6fb58;
    text-align: center;


}

.container-1 ul li .description{
    font-size: 20px;
    background-color: white;
    font-family: Arial;
    width: 100%;
    height: 100px;
    text-align: center;
}

.image-1{
    width: 40%;
    height: 40%;
    margin-left: 80px;
    margin-bottom: 40px;
}





li {
    list-style-type: none;

}

.ref1 {
    border: 1px solid black;
    color: black;
    font-size: 16px;
    padding: 10px;
    outline: none;
    width: 200px;
    text-decoration: none;
}
.ref2 {
    border: 1px solid black;
    color: black;
    font-size: 16px;
    padding: 10px;
    outline: none;
    width: 200px;
    text-decoration: none;
    
}

  .title{
      font-size: 20px;
  }

  * { box-sizing: border-box; }
  body {
    font: 8px Arial; 
  }
  .autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
  }

  .searchItems {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
  }
  .searchItems div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  .searchItems div:hover {
    background-color: #e9e9e9; 
  }
  

  